<div class="container" align="left">
	<div class="home-content">
		<img src="/assets/logo.png" class="logo-responsive">
		<div class="phrasing">
			<div class="phrase-1">
				Because doctors deserve better.
			</div>
			<%= submit_tag "I'm interested!", :class => "btn btn-default"%>
			<br><br><br>
			<div class="phrase-2">
				Slow, ugly, clunky
			</div>
			<div class="phrase-3">
				No More.
			</div>
			<div class="phrase-4">
				The EMR revolution is here.
			</div>

		</div>
	</div>
</div>