<img src="/assets/logo.png" class="logo-responsive">

<div class="container home-box" align="center">
	<div class="tagline">
		The EHR revolution is here.
	</div>
	<div class="row">
		<div class="col-md-6 phrase-column">
			<div class="phrase-1">
				Slow, Clunky, Ugly
			</div>
			<div class="phrase-2">
				No More.
			</div>
		</div>
		<div class="col-md-6 button-column">
			<div class="start-button" id="first-button">
				Get early access!
			</div>
			<div class="start-form">
				<%= form_for Beta.new, remote: true, :validate => true, :url => "/create_beta" do |f| %>
					<%= f.email_field :email, :validate => true, :placeholder => "your@email.com", :class => "form-control beta-email" %>
					<div>
						<%= f.submit "Submit!", :class => "start-button start-button-2", :id => "second-button" %>
					</div>
				<% end %>
			</div>
			<div class="thank-you">
				Thank you! We'll be in touch.
				<br>
				If you have any questions, email <a href="mailto:hello@belugahealth.com"> hello@belugahealth.com </a>
			</div>
		</div>
	</div>
	<div class="row icons">
		<div class="col-md-3">
			<img src="/assets/easy.png">
			<br>
			<div class="icolabel">
				Simple
			</div>
		</div>
		<div class="col-md-3">
			<img src="/assets/fast.png">
			<br>
			<div class="icolabel">
				Fast
			</div>
		</div>
		<div class="col-md-3">
			<img src="/assets/access.png">
			<br>
			<div class="icolabel">
				Accessible
			</div>
		</div>
		<div class="col-md-3">
			<img src="/assets/secure.png">
			<br>
			<div class="icolabel">
				Secure
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
$("#first-button").click(function(){
	$("#first-button").hide();
	$(".start-form").show();
});
</script>