<img src="/assets/logo.png" class="logo-responsive">

<div class="container home-box" align="center">
	<div class="tagline">
		The EHR revolution is here.
	</div>
	<div class="row">
		<div class="col-md-6 phrase-column">
			<div class="phrase-1">
				Slow, Clunky, Ugly
			</div>
			<div class="phrase-2">
				No More.
			</div>
		</div>
		<div class="col-md-6 button-column">
			<div class="start-button">
				Get early access!
			</div>
		</div>
	</div>
	<div class="row icons">
		<div class="col-md-3">
			<img src="/assets/easy.png">
			<br>
			<div class="icolabel">
				Simple
			</div>
		</div>
		<div class="col-md-3">
			<img src="/assets/fast.png">
			<br>
			<div class="icolabel">
				Fast
			</div>
		</div>
		<div class="col-md-3">
			<img src="/assets/access.png">
			<br>
			<div class="icolabel">
				Accessible
			</div>
		</div>
		<div class="col-md-3">
			<img src="/assets/secure.png">
			<br>
			<div class="icolabel">
				Secure
			</div>
		</div>
	</div>
</div>