// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Globals */ 

$blue: #00BFFF;
$black: #313131;

body{
	background: $blue !important;
}

@font-face {
    font-family: 'Montreal';
    src: url('montreal-demibold.ttf'); 
}

@font-face {
    font-family: 'Nexa Light';
    src: url('Nexa Light.otf'); 
}

@font-face {
    font-family: 'Nexa Bold';
    src: url('Nexa Bold.otf'); 
}

/* Landing Page */

.home-content{
	margin-top: 60px;
} 

.logo-responsive {
	width: 100%;
	max-width: 600px;
}

.phrasing{
	font-family: 'Montreal';
	padding-left: 10px;
}

.phrase-1{
	color: $black;
	font-size: 48px;
	padding-top: 10px;
	line-height: 42px;
}

.phrase-2{
	color: white;
	font-size: 38px;
	padding-top: 70px;
	line-height: 40px;
}

.phrase-3{
	color: $black;
	font-size: 38px;
	padding-top: 10px;
	line-height: 40px;
}

.phrase-4{
	color: white;
	font-size: 42px;
	padding-top: 70px;
	line-height: 40px;
}