// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Globals */ 

$blue: #00BFFF;
$black: #313131;

body{
	background: #F6F6F6 !important;
}

@font-face {
    font-family: 'Montreal';
    src: url('montreal-demibold.ttf'); 
}

@font-face {
    font-family: 'Nexa Light';
    src: url('Nexa Light.otf'); 
}

@font-face {
    font-family: 'Nexa Bold';
    src: url('Nexa Bold.otf'); 
}

/* Home Page */

.logo-responsive {
	max-width: 800px;
	width: 100%;
}

.home-box {
	max-width: 835px;
}

.tagline {
	font-family: 'Nexa Light';
	color: $blue;
	font-size: 64px;
	padding-top: 80px;
	line-height: 60px;
}

.phrase-column {
	float:left;
	text-align:left;
}

.button-column {
	float:right;
}

.phrase-1 {
	font-family: 'Nexa Light';
	color: $black;
	font-size: 36px;
	padding-top: 70px;
	line-height: 38px;
}

.phrase-2 {
	font-family: 'Nexa Light';
	color: $blue;
	font-size: 36px;
	padding-top: 10px;
	line-height: 38px;
}


.start-button {
	background: orange;
	padding: 15px;
	width: 300px;
	border-radius: 8px;
	color: white;
	font-family: 'Nexa Light';
	font-size: 22px;
	margin-top: 70px;
	text-align: center;
	opacity: 0.8;
	cursor: pointer;
}

.icons {
	padding-top: 90px;

	img {
		max-width: 150px;
		padding: 10px 0px;
	}

	.icolabel {
		font-family: 'Nexa Light';
		color: $black;
		font-size: 26px;
		padding-top: 5px;
		padding-bottom: 20px;
	}
}

